import Config

config :<%= @app_name%>, <%= @repository %>,
  database: "calions_dev_<%= @database %>",
  hostname: "localhost",
  pool_size: 10,
  priv: "<%= @repo_path %>",
  show_sensitive_data_on_connection_error: true