defmodule <%= @processor_name %>.MessageControllers.GroupAcls do
  alias <%= @processor_name %>, as: Processor
  alias Processor.ValueObjects.GroupAcls

  use Calions.GroupAcls.MessageControllers.GroupAcls,
    admin_acls: GroupAcls.all(),
    teammate_acls: [
      GroupAcls.can_index(),
      GroupAcls.can_show()
    ]
end
