defmodule <%= @processor_name %>.Repositories.GroupAcls do
  alias <%= @processor_name %>, as: Processor
  alias Processor.Repositories.<%= @processor_repo %>, as: Repo

  use Calions.GroupAcls.Repositories.GroupAcls, repo: Repo
end